<ng-container [formGroup]="formGroup">
  <div>
    <div class="form-field inline">
      <label>Nazwa</label>
      <input type="text" formControlName="name">
    </div>

    <div class="form-field inline">
      <label>Lokalizacja</label>
      <select formControlName="moonId">
        <option [ngValue]="1">Phobos</option>
        <option [ngValue]="20">Księżyc</option>
      </select>

      <!-- TODO dodaj kontrolkę z wyborem księżyca wg planety -->
    </div>
  </div>

  <div>
    <div class="form-field inline">
      <label>
        <input type="checkbox" formControlName="autonomous">
        labolatorium autonomiczne
      </label>
    </div>

    <div class="form-field inline">
      <label>
        <input type="checkbox" formControlName="enableTags">
        włącz tagowanie
      </label>
    </div>
  </div>
</ng-container>
