<tr>
  <td>
    <img class="thumbnail" *ngIf="launch.missionPatch" [src]="launch.missionPatch">
  </td>
  <td>
    #{{launch.id}}
  </td>
  <td>
    {{launch.missionName}}
  </td>
  <td>
    {{launch.rocketName}}
  </td>
  <td>
    {{launch.success}}
  </td>
  <td>
    {{launch.launchDate | date:'short'}}
  </td>
  <td>
    {{launch.launchSiteName}}
  </td>
  <td>
    <a *ngIf="launch.links.videoLink" [href]="launch.links.videoLink" target="_blank">Video</a>
    <a *ngIf="launch.links.presskitLink" [routerLink]="['', {outlets: {browser: ['url', launch.links.presskitLink]}}]">Presskit</a>
    <a *ngIf="launch.links.articleLink" [routerLink]="['', {outlets: {browser: ['url', launch.links.articleLink]}}]">Article</a>
    <a *ngIf="launch.links.wikipediaLink" [routerLink]="['', {outlets: {browser: ['url', launch.links.wikipediaLink]}}]">Wikipedia</a>
  </td>
</tr>
<tr>
  <td colspan="8">
    <ng-content select="app-launch-details"></ng-content>
  </td>
</tr>
