div {
  display: flex;
  width: 100%;
  align-items: center;
}

div.read {
  border: 1px solid transparent;
  min-height: 20px;
}

div.read:hover {
  border-color: black;
  cursor: pointer;
}

textarea {
  flex: 1;
  height: 60px;
}

button {
  margin: 0 6px;
}
